.boxs{
    /* height:300px;
    width:300px; */
    border: 1px solid blue;
    background-color: aqua;
    /* margin:100px; */
    display: flex;
}
.box{
    height:300px;
    width:300px;
    border: 1px solid orange;
    background-color: red;
    margin: 0px;
}

/* .title{
    border-radius: 100px;
} */

.title-heading{
    text-align: left;
    padding:20px;
}