*{
    margin:0px;
    padding:0px;
}
.header-box{
    padding: 0px;
    padding-top:10px;
    padding-left: 10px;
}
.sort_selected{
    height: 100px;
    width: 100px;
    background-color: orange;
}

.edit-box{
    padding:0px;
    padding-top:10px;
    padding-left:10px;
}

.icon-edit{
    padding: 0px;
    padding-bottom:10px;
    float: left;
    margin-right: 10px;
    padding-top: 2px;
    padding-left: 5px;
}

.icon-edit-title{
    text-align: center;
}